#main {
	color: #fff;
	position: relative;

	// ALL TAB-1 INSIDE A MAIN CLASS
	.tab {
		ul {
			li {
				display: inline-block;

				a {
					text-decoration: none;
					color: $white;
					display: block;
					text-align: center;
					line-height: 1;
				}
			}
		}

		&-1 {
			ul {
				li {
					a {
						padding: $base-half 0;
						width: 65px;
						background: $white;
						color: $success-dark;
						border-right: 0.5px solid rgba(0, 0, 0, 0.5);

						img {
							@include w-h(30px);
							opacity: 0.5;
							transition: 2s ease-out;
							-webkit-transition: 2s ease-out;
							-moz-transition: 2s ease-out;
							-ms-transition: 2s ease-out;
							-o-transition: 2s ease-out;
						}

						&:hover,
						&.tab-active {
							color: $white;
							background: $primary-dark;

							img {
								opacity: 1;
								transform: rotate(360deg) scale(1.08);
								-webkit-transform: rotate(360deg) scale(1.08);
								-moz-transform: rotate(360deg) scale(1.08);
								-ms-transform: rotate(360deg) scale(1.08);
								-o-transform: rotate(360deg) scale(1.08);
							}
						}
					}
				}
			}
		}

		&-2 {
			position: sticky;
			top: $header-nav-bar-height - 1px;
			z-index: 2;
			border-top: 3px solid $white;
			box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);

			ul {
				li {
					a {
						border-right: 0.5px solid rgba(225, 225, 225, 0.5);
						padding: 0.75rem 1rem;

						&:hover,
						&.tab-active {
							border-top: 1.5px solid $white;
							border-bottom: 1.5px solid $white;
							box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
							font-size: 90%;
						}
					}
				}
			}
		}
	}

	// EVENTS-TABLE
	#events {
	}
	.table {
		border: 1.5px solid $default;
		border-top: none;
		margin-top: 0.75rem;

		&-name {
			text-transform: capitalize;
		}

		&-1 {
			border-color: $primary;

			.table-name {
				background: transparentize($primary, 0.5);
				border: 2px solid $primary;
			}
		}

		&-2 {
			border-color: $default;

			.table-name {
				background: transparentize($default, 0.5);
				color: transparentize(#000000, 0.6);
				border: 1px solid $default;
			}

			&-content {
				ul {
					li {
						border-bottom: 1px solid $default;
						padding: 0.75rem;

						&:nth-child(odd),
						&:hover {
							background: $default-light;
						}
					}
				}
			}
		}

		.event {
			position: relative;
			padding: 0 0.375rem;
			grid-template-columns: 1fr 55px 1fr;

			&-team {
				position: relative;
				z-index: 1;

				&-name {
					text-transform: uppercase;
				}
				&-logo {
					img {
						@include w-h(40px);
						margin: 0.375rem;
					}
				}

				&-home {
					justify-content: flex-end;
				}
				&-away {
					justify-content: flex-start;
				}
			}

			&-details {
				position: relative;
				z-index: 1;
				background: transparentize($success-light, 0.6);

				.event-detail {
					width: 55px;
					height: 40px;

					&-scoreboard {
						.event-detail-score {
							padding: 0 0.1375rem;
							font-size: 130%;
							font-weight: bold;
						}
					}
					&-current-time {
						border-bottom: 2px solid $white;
						border-top: 1px solid rgba(255, 255, 255, 0.312);
					}
				}
			}

			&::before {
				@include b-a-span-full;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: 0 -500px;
				filter: blur(1px) opacity(0.8);
				-webkit-filter: blur(2px) opacity(0.75);
				box-shadow: inset 0 -15px 25px 7.5px rgba(0, 0, 0, 0.465);
			}
			&-1::before {
				background-image: url("../img/teamfiles/stadium1.jpg");
			}
			&-2::before {
				background-image: url("../img/teamfiles/stadium2.jpg");
			}
			&-3::before {
				background-image: url("../img/teamfiles/stadium3.jpg");
			}
			&-4::before {
				background-image: url("../img/teamfiles/stadium4.jpg");
			}
			&-5::before {
				background-image: url("../img/teamfiles/stadium5.jpg");
			}
		}
	}

	@include screen-360 {
		// EVENTS-TABLE
		#events {
			.event {
				&-team {
					display: flex;
					align-items: center;
				}
			}
		}
	}
	@include screen-420 {
		// ALL TAB-1 INSIDE A MAIN CLASS
		.tab {
			&-1 {
				ul {
					li {
						a {
							i {
								font-size: 160%;
							}
						}
					}
				}
			}
		}
	}
	@include screen-500 {
		.tab {
			&-1 {
				ul {
					li {
						a {
							width: 100px;

							i {
								font-size: 160%;
							}
						}
					}
				}
			}

			&-2 {
				top: $header-nav-bar-height;
			}
		}
	}
	@include screen-900 {
	}
	@include screen-1240 {
	}
}
