/**
* TYPE-SCALE = MAJOR SCALE (1.125);
* BASE-LINE-HEIGHT = (1.5)(24PX);
* 
* FONT-SIZE = PREVIOUS-FONT-SIZE * TYPE-SCALE;
* LINE-HEIGHT = ceil(FONT-SIZE / BASE-LINE-HEIGHT) * (BASE-LINE-HEIGHT / FONT-SIZE);
*/
html {
  font: normal 100%/1.5 Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

.xxLarge {
  font-size: 5rem;
  line-height: 1;
}

.yotta {
  font-size: 3.42rem;
  line-height: 1.315;
}

.zetta {
  font-size: 3.04rem;
  line-height: 1.48;
}

h1,
.exa {
  font-size: 2.703rem;
  line-height: 1.109;
}

h2,
.peta {
  font-size: 2.403rem;
  line-height: 1.248;
}

h3,
.tera {
  font-size: 2.136rem;
  line-height: 1.404;
}

h4,
.giga {
  font-size: 1.899rem;
  line-height: 1.579;
}

h5,
.mega {
  font-size: 1.687rem;
  line-height: 1.778;
}

h6,
.kilo {
  font-size: 1.5rem;
  line-height: 1;
}

small,
.milli {
  font-size: 0.8rem;
  line-height: 1.875;
}

.micro {
  font-size: 0.68rem;
  line-height: 2.205;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

body {
  background: #2a2e3e;
}

.header {
  color: #f7f4f4;
}

.header .nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  padding: 0.375rem 0.75rem;
}

.header .nav-bar-brand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.header .nav-bar-brand a {
  text-decoration: none;
  color: #f7f4f4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .nav-bar-brand:hover .nav-bar-brand-name {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .nav-bar-brand-logo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 0.375rem;
}

.header .nav-bar-brand-name h6 {
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}

.header .nav-bar-brand-name h6::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #f7f4f4;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .nav-bar-brand-name h6:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .nav-bar-icons li {
  list-style: none;
  padding: 0.75rem;
}

.header .nav-bar-icons li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #25816a;
}

.header .tab ul li {
  display: inline-block;
}

.header .tab ul li a {
  text-decoration: none;
  color: #f7f4f4;
  display: block;
  padding: 0.75rem 1rem;
  text-align: center;
}

.header .tab-1 {
  margin-top: 61px;
}

.header .tab-1 ul li a i {
  font-size: 160%;
}

.header .tab-1 ul li a:hover, .header .tab-1 ul li a.tab-active {
  background: #f7f4f4;
  color: #25816a;
  border-bottom: 3px solid #25816a;
}

.header .tab-2 ul li a:hover, .header .tab-2 ul li a.tab-active {
  border-top: 3px solid #2a2e3e;
  border-bottom: 3px solid #2a2e3e;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
}

/** MARGIN-BASE,  MARGIN-DOUBLE,  MARGIN-HALF,  MARGIN-NONE
* -BOTTOM, 
* -LEFT
* -RIGHT
* (PUSH)
*/
.push,
.p-1 {
  margin-bottom: 1.5rem;
}

.push-top,
.p-t-1 {
  margin-top: 1.5rem;
}

.push-left,
.p-l-1 {
  margin-left: 1.5rem;
}

.push-right,
.p-r-1 {
  margin-right: 1.5rem;
}

.push-half,
.p-1-2 {
  margin-bottom: 0.75rem;
}

.push-half-top,
.p-t-1-2 {
  margin-top: 0.75rem;
}

.push-half-left,
.p-l-1-2 {
  margin-left: 0.75rem;
}

.push-half-right,
.p-r-1-2 {
  margin-right: 0.75rem;
}

.push-double,
.p-2 {
  margin-bottom: 3rem;
}

.push-double-top,
.p-t-2 {
  margin-top: 3rem;
}

.push-double-left,
.p-l-2 {
  margin-left: 3rem;
}

.push-double-right,
.p-r-2 {
  margin-right: 3rem;
}

.push-none,
.p-0 {
  margin-bottom: 0;
}

.push-none-top,
.p-t-0 {
  margin-top: 0;
}

.push-none-left,
.p-l-0 {
  margin-left: 0;
}

.push-none-right,
.p-r-0 {
  margin-right: 0;
}

/** PADDING-BASE,  PADDING-DOUBLE,  PADDING-HALF,  PADDING-NONE
* -BOTTOM, 
* -LEFT
* -RIGHT
*/
.pad-bottom,
.pad-b-1 {
  padding-bottom: 1.5rem;
}

.pad-top,
.pad-t-1 {
  padding-top: 1.5rem;
}

.pad-left,
.pad-l-1 {
  padding-left: 1.5rem;
}

.pad-right,
.pad-r-1 {
  padding-right: 1.5rem;
}

.pad-bottom-half,
.pad-b-1-2 {
  padding-bottom: 0.75rem;
}

.pad-half-top,
.pad-t-1-2 {
  padding-top: 0.75rem;
}

.pad-half-left,
.pad-l-1-2 {
  padding-left: 0.75rem;
}

.pad-half-right,
.pad-r-1-2 {
  padding-right: 0.75rem;
}

.pad-bottom-double,
.pad-b-2 {
  padding-bottom: 3rem;
}

.pad-double-top,
.pad-t-2 {
  padding-top: 3rem;
}

.pad-double-left,
.pad-l-2 {
  padding-left: 3rem;
}

.pad-double-right,
.pad-r-2 {
  padding-right: 3rem;
}

.pad-bottom-none,
.pad-b-0 {
  padding-bottom: 0;
}

.pad-none-top,
.pad-t-0 {
  padding-top: 0;
}

.pad-none-left,
.pad-l-0 {
  padding-left: 0;
}

.pad-none-right,
.pad-r-0 {
  padding-right: 0;
}

.flex, .flex-center, .flex-align-center, .flex-justify-center, .flex-direction-column, .flex-wrap, .flex-child-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-child-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid, .grid-2-cols, .grid-3-cols, .grid-4-cols, .grid-center {
  display: -ms-grid;
  display: grid;
}

.grid-2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-center {
  place-items: center;
}

.bg-primary {
  background: #0092c6;
}

.bg-primary-dark {
  background: #005a7a;
}

.bg-primary-light {
  background: #14c1ff;
}

.bg-success {
  background: #36bc9b;
}

.bg-success-dark {
  background: #25816a;
}

.bg-success-light {
  background: #6ad4ba;
}

.bg-danger {
  background: #e26959;
}

.bg-danger-dark {
  background: #cb3723;
}

.bg-danger-light {
  background: #eda49a;
}
/*# sourceMappingURL=header.css.map */