body main {
  color: #fff;
}

.soccer-livescore-div {
  display: flex;
  height: 80px;
}
.soccer-livescore-div-overlay {
  background-color: rgb(141, 149, 177);
  opacity: 0.5;
}
.team-flag img {
  width: 40px;
  height: 40px;
}
.home-team-name {
  flex: 3;
  text-align: right;
  padding: 20px;
}
.away-team-name {
  flex: 3;
  text-align: left;
  padding: 20px 10px;
}

.match-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 188, 155, 0.5);
}
.match-current-time {
  flex: 1;
  text-align: center;
  padding-top: 10px;
}
.horizontal-line {
  color: #fff;
  opacity: 0.5;
}
.match-scores {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.team-name-content {
  vertical-align: 10px;
  padding: 0px 10px;
}
.soccer-livescore-div-1 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium1.jpg");

  background-size: cover;
}
.soccer-livescore-div-2 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium2.jpg");

  background-size: cover;
}
.soccer-livescore-div-3 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium3.jpg");

  background-size: contain;
}
.soccer-livescore-div-4 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium4.jpg");

  background-size: contain;
}
.soccer-livescore-div-5 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium1.jpg");
  background-size: contain;
}
.soccer-livescore-div-6 {
  background: linear-gradient(
      rgba(104, 104, 104, 0.5),
      rgba(122, 122, 122, 0.5)
    ),
    url("../img/teamfiles/stadium2.jpg");

  background-size: cover;
}
