.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	/*display: grid;
	place-items: center;
	*/
	animation: hide 0s 2s;
	-webkit-animation: hide 0.5s 1.8s forwards;
}

.overlay i {
	font-size: 5rem;
	color: #fff;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes spin {
	from {
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}
