/**
* before using any partial (_reusableClasses.scss ...), 
* module (_header.scss, _main.scss ...),
* mixin (animations, w-h, container-round ...),
* or anything at all (which you did not write)
* please check them out 1st, to correct or to know how they work. thanks...
*/
/**
* TYPE-SCALE = MAJOR SCALE (1.125);
* BASE-LINE-HEIGHT = (1.5)(24PX);
* 
* FONT-SIZE = PREVIOUS-FONT-SIZE * TYPE-SCALE;
* LINE-HEIGHT = ceil(FONT-SIZE / BASE-LINE-HEIGHT) * (BASE-LINE-HEIGHT / FONT-SIZE);
*/
html {
  font: normal 100%/1.5 Arial, sans-serif;
}

.xxLarge {
  font-size: 5rem;
  line-height: 1;
}

.yotta {
  font-size: 3.42rem;
  line-height: 1.315;
}

.zetta {
  font-size: 3.04rem;
  line-height: 1.48;
}

h1,
.exa {
  font-size: 2.703rem;
  line-height: 1.109;
}

h2,
.peta {
  font-size: 2.403rem;
  line-height: 1.248;
}

h3,
.tera {
  font-size: 2.136rem;
  line-height: 1.404;
}

h4,
.giga {
  font-size: 1.899rem;
  line-height: 1.579;
}

h5,
.mega {
  font-size: 1.687rem;
  line-height: 1.778;
}

h6,
.kilo {
  font-size: 1.5rem;
  line-height: 1;
}

small,
.milli {
  font-size: 0.8rem;
  line-height: 1.875;
}

.micro {
  font-size: 0.68rem;
  line-height: 2.205;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
}

body {
  background: #f7f4f4;
}

#header {
  color: #f7f4f4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

#header .nav-bar {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  padding: 0.375rem 0.75rem;
}

#header .nav-bar-brand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

#header .nav-bar-brand a {
  text-decoration: none;
  color: #f7f4f4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#header .nav-bar-brand:hover .nav-bar-brand-name {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#header .nav-bar-brand-logo img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  height: 25px;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  margin-right: 0.375rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#header .nav-bar-brand-name {
  font-size: 95%;
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}

#header .nav-bar-brand-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #f7f4f4;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#header .nav-bar-brand-name:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#header .nav-bar-icons li {
  list-style: none;
  padding: 0.75rem 0;
}

#header .nav-bar-icons li:nth-child(2) {
  padding: 0.75rem 1.5rem;
}

#header .nav-bar-icons li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #25816a;
}

@media only screen and (min-width: 500px) {
  #header .nav-bar {
    font-size: 130%;
  }
  #header .nav-bar img {
    width: 50px;
    height: 30px;
  }
}

a {
  color: #0092c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn, .btn-light, .btn-dark {
  padding: 0.75rem 1.5rem;
  border: 3px solid #f7f4f4;
  background: none;
}

.btn-light {
  color: #f7f4f4;
}

.btn-light:hover {
  background: #f7f4f4;
  color: #ababab;
}

.btn-dark {
  color: #ababab;
  border-color: #ababab;
}

.btn-dark:hover {
  background: #ababab;
  color: #ebebeb;
}

.btn:hover, .btn-light:hover, .btn-dark:hover {
  cursor: pointer;
}

#main {
  color: #fff;
  position: relative;
}

#main .tab ul li {
  display: inline-block;
}

#main .tab ul li a {
  text-decoration: none;
  color: #f7f4f4;
  display: block;
  text-align: center;
  line-height: 1;
}

#main .tab-1 ul li a {
  padding: 0.75rem 0;
  width: 65px;
  background: #f7f4f4;
  color: #25816a;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

#main .tab-1 ul li a img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: 2s ease-out;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -ms-transition: 2s ease-out;
  -o-transition: 2s ease-out;
}

#main .tab-1 ul li a:hover, #main .tab-1 ul li a.tab-active {
  color: #f7f4f4;
  background: #005a7a;
}

#main .tab-1 ul li a:hover img, #main .tab-1 ul li a.tab-active img {
  opacity: 1;
  transform: rotate(360deg) scale(1.08);
  -webkit-transform: rotate(360deg) scale(1.08);
  -moz-transform: rotate(360deg) scale(1.08);
  -ms-transform: rotate(360deg) scale(1.08);
  -o-transform: rotate(360deg) scale(1.08);
}

#main .tab-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 2;
  border-top: 3px solid #f7f4f4;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

#main .tab-2 ul li a {
  border-right: 0.5px solid rgba(225, 225, 225, 0.5);
  padding: 0.75rem 1rem;
}

#main .tab-2 ul li a:hover, #main .tab-2 ul li a.tab-active {
  border-top: 1.5px solid #f7f4f4;
  border-bottom: 1.5px solid #f7f4f4;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 90%;
}

#main .table {
  border: 1.5px solid #d1d1d1;
  border-top: none;
  margin-top: 0.75rem;
}

#main .table-name {
  text-transform: capitalize;
}

#main .table-1 {
  border-color: #0092c6;
}

#main .table-1 .table-name {
  background: rgba(0, 146, 198, 0.5);
  border: 2px solid #0092c6;
}

#main .table-2 {
  border-color: #d1d1d1;
}

#main .table-2 .table-name {
  background: rgba(209, 209, 209, 0.5);
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid #d1d1d1;
}

#main .table-2-content ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 0.75rem;
}

#main .table-2-content ul li:nth-child(odd), #main .table-2-content ul li:hover {
  background: #ebebeb;
}

#main .table .event {
  position: relative;
  padding: 0 0.375rem;
  -ms-grid-columns: 1fr 55px 1fr;
      grid-template-columns: 1fr 55px 1fr;
}

#main .table .event-team {
  position: relative;
  z-index: 1;
}

#main .table .event-team-name {
  text-transform: uppercase;
}

#main .table .event-team-logo img {
  width: 40px;
  height: 40px;
  margin: 0.375rem;
}

#main .table .event-team-home {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#main .table .event-team-away {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main .table .event-details {
  position: relative;
  z-index: 1;
  background: rgba(106, 212, 186, 0.4);
}

#main .table .event-details .event-detail {
  width: 55px;
  height: 40px;
}

#main .table .event-details .event-detail-scoreboard .event-detail-score {
  padding: 0 0.1375rem;
  font-size: 130%;
  font-weight: bold;
}

#main .table .event-details .event-detail-current-time {
  border-bottom: 2px solid #f7f4f4;
  border-top: 1px solid rgba(255, 255, 255, 0.312);
}

#main .table .event::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 0 -100px;
  filter: blur(2px) opacity(0.75);
  -webkit-filter: blur(2px) opacity(0.75);
  -webkit-box-shadow: inset 0 -15px 25px 7.5px #000;
          box-shadow: inset 0 -15px 25px 7.5px #000;
}

#main .table .event-1::before {
  background-image: url("../img/teamfiles/stadium1.jpg");
}

#main .table .event-2::before {
  background-image: url("../img/teamfiles/stadium2.jpg");
}

#main .table .event-3::before {
  background-image: url("../img/teamfiles/stadium3.jpg");
}

#main .table .event-4::before {
  background-image: url("../img/teamfiles/stadium4.jpg");
}

#main .table .event-5::before {
  background-image: url("../img/teamfiles/stadium5.jpg");
}

@media only screen and (min-width: 360px) {
  #main #events .event-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 420px) {
  #main .tab-1 ul li a i {
    font-size: 160%;
  }
}

@media only screen and (min-width: 500px) {
  #main .tab-1 ul li a {
    width: 100px;
  }
  #main .tab-1 ul li a i {
    font-size: 160%;
  }
  #main .tab-2 {
    top: 61px;
  }
}

/** MARGIN-BASE,  MARGIN-DOUBLE,  MARGIN-HALF,  MARGIN-NONE
* -BOTTOM, 
* -LEFT
* -RIGHT
* (PUSH)
*/
.push,
.p-1 {
  margin-bottom: 1.5rem;
}

.push-top,
.p-t-1 {
  margin-top: 1.5rem;
}

.push-left,
.p-l-1 {
  margin-left: 1.5rem;
}

.push-right,
.p-r-1 {
  margin-right: 1.5rem;
}

.push-half,
.p-1-2 {
  margin-bottom: 0.75rem;
}

.push-half-top,
.p-t-1-2 {
  margin-top: 0.75rem;
}

.push-half-left,
.p-l-1-2 {
  margin-left: 0.75rem;
}

.push-half-right,
.p-r-1-2 {
  margin-right: 0.75rem;
}

.push-double,
.p-2 {
  margin-bottom: 3rem;
}

.push-double-top,
.p-t-2 {
  margin-top: 3rem;
}

.push-double-left,
.p-l-2 {
  margin-left: 3rem;
}

.push-double-right,
.p-r-2 {
  margin-right: 3rem;
}

.push-none,
.p-0 {
  margin-bottom: 0;
}

.push-none-top,
.p-t-0 {
  margin-top: 0;
}

.push-none-left,
.p-l-0 {
  margin-left: 0;
}

.push-none-right,
.p-r-0 {
  margin-right: 0;
}

/** PADDING-BASE,  PADDING-DOUBLE,  PADDING-HALF,  PADDING-NONE
* -BOTTOM, 
* -LEFT
* -RIGHT
*/
.pad-bottom,
.pad-b-1 {
  padding-bottom: 1.5rem;
}

.pad-top,
.pad-t-1 {
  padding-top: 1.5rem;
}

.pad-left,
.pad-l-1 {
  padding-left: 1.5rem;
}

.pad-right,
.pad-r-1 {
  padding-right: 1.5rem;
}

.pad-bottom-half,
.pad-b-1-2 {
  padding-bottom: 0.75rem;
}

.pad-half-top,
.pad-t-1-2 {
  padding-top: 0.75rem;
}

.pad-half-left,
.pad-l-1-2 {
  padding-left: 0.75rem;
}

.pad-half-right,
.pad-r-1-2 {
  padding-right: 0.75rem;
}

.pad-bottom-double,
.pad-b-2 {
  padding-bottom: 3rem;
}

.pad-double-top,
.pad-t-2 {
  padding-top: 3rem;
}

.pad-double-left,
.pad-l-2 {
  padding-left: 3rem;
}

.pad-double-right,
.pad-r-2 {
  padding-right: 3rem;
}

.pad-bottom-none,
.pad-b-0 {
  padding-bottom: 0;
}

.pad-none-top,
.pad-t-0 {
  padding-top: 0;
}

.pad-none-left,
.pad-l-0 {
  padding-left: 0;
}

.pad-none-right,
.pad-r-0 {
  padding-right: 0;
}

.overlay-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 7;
  background: #0092c6;
  -webkit-animation: overlay-loader-fade-to-bottom 0.7s ease-out 2s forwards;
          animation: overlay-loader-fade-to-bottom 0.7s ease-out 2s forwards;
}

.overlay-loader i {
  width: 65px;
  height: 65px;
  font-size: 45px;
  color: #f7f4f4;
  -webkit-animation: spin-loader-ball 1s ease-out infinite;
          animation: spin-loader-ball 1s ease-out infinite;
}

.overlay-loader .loader {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  border: 5px dotted transparent;
  animation: loader-dots 0.6s infinite alternate-reverse;
}

@media only screen and (min-width: 900px) {
  .overlay-loader i {
    font-size: 25px;
  }
  .overlay-loader .loader {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }
}

.modal {
  position: fixed;
  top: 61px;
  z-index: 5;
  background: #f7f4f4;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  width: 100%;
  height: calc(100vh - 61px);
  overflow-y: auto;
  color: #2a2e3e;
}

.modal-toggle {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.modal input {
  width: 100%;
  padding: 0.75rem;
  outline-color: #36bc9b;
  margin-top: 0.75em;
}

.modal .search-bar {
  position: relative;
}

.modal .search-bar .search, .modal .search-bar .dropdown {
  position: absolute;
}

.modal .search-bar .dropdown {
  right: 0.75rem;
  top: 1rem;
}

.modal .search-instruction {
  margin-top: calc(43px + 0.75rem);
  opacity: 0.8;
  padding: 0 0.375rem;
}

.font-w-bold {
  font-weight: bold;
}

.text-t-cap {
  text-transform: capitalize;
}

.text-t-upper {
  text-transform: uppercase;
}

.text-t-lower {
  text-transform: lowercase;
}

.flex, .flex-center, .flex-align-center, .flex-justify-center, .flex-direction-column, .flex-wrap, .flex-child-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-child-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid, .grid-2-cols, .grid-3-cols, .grid-4-cols, .grid-center, .grid-align-center, .grid-justify-center {
  display: -ms-grid;
  display: grid;
}

.grid-2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-center {
  place-items: center;
}

.grid-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-primary {
  background: #0092c6;
}

.bg-primary-dark {
  background: #005a7a;
}

.bg-primary-light {
  background: #00a5e0;
}

.bg-success {
  background: #36bc9b;
}

.bg-success-dark {
  background: #25816a;
}

.bg-success-light {
  background: #6ad4ba;
}

.bg-danger {
  background: #e26959;
}

.bg-danger-dark {
  background: #cb3723;
}

.bg-danger-light {
  background: #eda49a;
}

@-webkit-keyframes spin-loader-ball {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin-loader-ball {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes loader-dots {
  0% {
    border-top-color: #f7f4f4;
  }
  30% {
    border-bottom-color: #f7f4f4;
  }
  65% {
    border-left-color: #f7f4f4;
  }
  100% {
    border-right-color: #f7f4f4;
  }
}

@keyframes loader-dots {
  0% {
    border-top-color: #f7f4f4;
  }
  30% {
    border-bottom-color: #f7f4f4;
  }
  65% {
    border-left-color: #f7f4f4;
  }
  100% {
    border-right-color: #f7f4f4;
  }
}

@-webkit-keyframes overlay-loader-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes overlay-loader-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes overlay-loader-fade-to-top {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

@keyframes overlay-loader-fade-to-top {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

@-webkit-keyframes overlay-loader-fade-to-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}

@keyframes overlay-loader-fade-to-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
/*# sourceMappingURL=style.css.map */